
/* layout */

:root {
    --pl-album-art-size: 125px;
    --pl-font-size: 18px;
    --pl-icon-size: 18px;
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    color: var(--main-color);
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    font-size: 15px;
}
/*
body {
    display: flex;
    flex-direction: column;
}
*/
::selection { background: var(--selection); }
::-moz-selection { background: var(--selection); }

a {
    color: var(--main-color);
    text-decoration: none;
}

.hide {
    display: none !important;
}

.btn {
    display: inline-block;
    text-align: center;
    box-sizing: content-box;
    color: var(--secondary-color);
    font-size: 16px;
    background: var(--highlight);
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}
.secondary-btn {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--main-color);
}

.menu:not(:hover) > .menu-content {
    display: none !important;
}
.menu {
    position: relative;
}
.menu > .menu-content {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.slider {
    background: var(--selection);
    overflow: hidden;
}
.slider > div {
    height: 100%;
    background: var(--highlight);
}

.btn > .icon {
    display: block;
}

#container {
    padding: 10px;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
    
    display: flex;
    flex-direction: column;
}

#player {
    width: 350px;
}

#controls {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    margin-left: -2px;
    margin-right: -2px;
}
#controls > * {
    margin: 2px;
}
#mute-btn,
#unmute-btn {
    width: 18px;
}

#stream-menu .menu-btn {
    min-width: 80px;
}
#stream-links {
    display: inline-block;
    width: 150px;
}
#stream-links > a {
    display: block;
    font-size: 16px;
    border: none;
    margin: 4px 8px;
    cursor: pointer;
}
#stream-links > a:not(:first-child) {
}

#volume {
    margin-left: 5px;
    width: 100px;
    height: 10px;
    border-radius: 3px;
}
#controls > #time {
    margin-left: auto;
    white-space: nowrap;
    font-size: 18px;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: var(--selection);
    border-radius: 3px;
    overflow: hidden;
    
    margin-bottom: 12px;
}
.progress-bar {
    width: 0px;
    height: 100%;
    background-color: var(--highlight);
}

#content {
    display: flex;
    flex-flow: row nowrap;
}

#now-playing {
    margin-top: 1em;
}
#main {
    flex: 1 1 auto;
    min-width: 0;
}
#side {
    width: 300px;
    margin-left: 30px;
}

#recent {
    margin-top: 5px;
}

.pl-header {
    padding-bottom: .25em;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: .5em;
    
    font-size: 20px;
}

.pl-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    
    font-size: var(--pl-font-size);
    white-space: nowrap;
    margin-bottom: .5em;
}
.pl-row * {
    overflow: hidden;
    text-overflow: ellipsis;
}
.pl-art {
    flex: 0 0 auto;
    position: relative;
    
    width: var(--pl-album-art-size);
    height: var(--pl-album-art-size);
    background-color: rgba(0, 0, 0, 0.05);
    margin-right: 15px;
}
.pl-art > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-width: var(--pl-album-art-size);
    max-height: var(--pl-album-art-size);
}
.pl-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    
    box-sizing: border-box;
    width: var(--pl-album-art-size);
    padding: 5px;
    font-size: var(--pl-icon-size);
    
    background: rgba(0,0,0,0.5);
}
.pl-icons:empty {
    display: none;
}
.pl-icons .icon {
    float: left;
    color: white;
    cursor: pointer;
}
.pl-icons .icon:not(:last-child) {
    margin-right: 0.4em;
}
.pl-icons:after {
    /* I don't think this is even needed, but leave it here for good measure */
    clear: both;
}

.pl-info {
    display: flex;
    flex-flow: column nowrap;
}

.pl-title {
    font-size: 1.333em;
    margin-bottom: 5px;
}
.pl-time {
    margin-top: auto;
}

#side {
    --pl-album-art-size: 75px;
    --pl-font-size: 13px;
}
#side .pl-album {
    display: none;
}

/*
footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*/

#uploads {
}
#uploads.file_hover {
    display: block;
}
#upload.loading {
    display: block;
}

.upload-entry {
    margin-bottom: 5px;
}
/* icons */
.upload-entry .icon {
    display: none;
}
.upload-entry:not(.upload-failed) .icon-file-upload {
    display: inline;
}
.upload-entry.upload-failed:not(:hover) .icon-exclamation-triangle {
    display: inline;
}
.upload-entry.upload-failed:hover .icon-upload {
    display: inline;
}

.upload-description {
    margin-bottom: .4em;
}
.upload-description > .icons-set {
    margin-right: .4em;
}
.upload-filename {
    overflow:hidden;
    text-overflow: ellipsis;
}

.upload-progress {
    width: 100%;
    height: 20px;
    background-color: var(--selection);
    border-radius: 5px;
    overflow: hidden;
}
.upload-progress > div {
    height: 20px;
    background-color: var(--highlight);
    
    width: 0%; /* starting width */
}
/* or just change the color of the bar to red */
.upload-entry.upload-failed .upload-progress {
    display: none;
}

#upload-queued {
    margin: 15px 0px 5px;
}


/* small screens */
@media only screen and (max-device-width: 800px) {
    #content {
        flex-flow: column nowrap;
    }
    #side {
        width: auto;
        margin-left: 0px;
        --pl-album-art-size: 125px;
        --pl-font-size: 18px;
    }
    #side .pl-album {
        display: inline;
    }
}

/* mobile */
@media only screen and (max-device-width: 640px) {
    #side,
    :root {
        --pl-album-art-size: 75px;
        --pl-font-size: 13px;
    }
    #now-playing {
        margin-top: .5em;
    }
    #player {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px 0px 10px;
        
        background: var(--bg-color);
    }
    #container {
        margin-bottom: 70px;
    }
    .pl-album {
        display: none;
    }
    .pl-header {
        font-size: 16px;
        border-width: 1px;
    }
}
